@page "/CreateNewPassword"
@using HS.Shared.Components.Layout
@layout EmptyLayout

<style>

    .container {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    .DivCenter {
        display: flex;
        justify-content: center;
    }

    .IconText {
        font-size: x-large;
        font-weight: bold;
        margin-left: 8px;
    }

    .Text {
        font-weight: 500;
        width: 333px;
        margin-top: 65px;
    }


    .PasswordIcon {
        border-bottom: solid 1px #bdbdbd;
        position: relative;
        padding-top: 15px;
        background-color: #e8e8e8;
        height: 56px;
        margin-top: 6px;
        border-top-left-radius: 5px;
        padding-left: 3px;
    }

    .EmailIcon {
        border-bottom: solid 1px #bdbdbd;
        position: relative;
        padding-top: 15px;
        background-color: #e8e8e8;
        height: 56px;
        margin-top: 6px;
        border-top-left-radius: 5px;
        padding-left: 3px;
    }

    .mud-input-label-filled {
        margin-left: 36px !important;
    }

    .mud-input-slot {
        margin-left: 34px !important;
    }

    .ContinueBtn {
        border-radius: 30px;
        width: 330px;
        height: 50px;
        margin-top:54px;
    }
</style>





<div class="container">

    <div class="row" style="margin-top: 20px;">
        <div class="col ml-3 mt-1">
            <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="ClickBack" Style="padding-top: 1px;"></MudIconButton>
            <span class="IconText">Create New Password</span>
        </div>
    </div>


    <div class="row DivCenter">
        <div class="col ml-5 mt-5">
            <MudImage Class="img-fluid" Src="images/ForgetPassword.png" Elevation="0" Height="200" Width="250" Style="margin-top:20px" />
        </div>
    </div>
    <div class="row  DivCenter  ">
        <div class="col DivCenter">
            <MudText Typo="Typo.subtitle1" Class="Text">Create your new password</MudText>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 ml-7  mr-5 email DivCenter">
            <div class="EmailIcon">
                <MudIcon Color="Color.Default" Icon="@Icons.Material.Filled.Lock" Size="Size.Medium" />
            </div>
            <MudTextField Class="mr-7" @bind-Value="PasswordTwo" Label="Password" Variant="Variant.Filled" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ShowPassword" />
        </div>
        <div class="col-12 ml-7 mr-5 mt-5 DivCenter">
            <div class="PasswordIcon">
                <MudIcon Color="Color.Default" Icon="@Icons.Material.Filled.Lock" Size="Size.Medium" />
            </div>
            <MudTextField Class="mr-7" @bind-Value="Password" Label="Password" Variant="Variant.Filled" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ShowPassword" />
        </div>
    </div>

    <div class="row ">
        <div class="col DivCenter">
            <MudCheckBox @bind-Value="@RememberMe" Size="Size.Medium" Color="Color.Primary" Label="Remember Me"></MudCheckBox>
        </div>
    </div>

    <div class="row ">
        <div class="col mt-5 DivCenter">
            <MudButton Class="ContinueBtn" Variant="Variant.Filled" Color="Color.Primary">Continue</MudButton>
        </div>
    </div>

</div>


@code {


    @inject NavigationManager Navigation;

    public string? Password { get; set; }
    public string? PasswordTwo { get; set; }
    public bool RememberMe { get; set; } = false;

    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;



    private void ClickBack()
    {
        Navigation.NavigateTo("ForgotPasswordTwo");
    }
    private void Continue()
    {
        Navigation.NavigateTo("SignIn");
    }

    void ShowPassword()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }
 

}
