<!-- This page is for creating a new password -->
@page "/CreateNewPassword"

<!-- Importing necessary components and layouts -->
@using HS.Shared.Components.Layout
@layout EmptyLayout

<!-- Styling for the page -->
<style>
    /* Styling for container */
    .container {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    /* Styling for centering divs */
    .DivCenter {
        display: flex;
        justify-content: center;
    }

    /* Styling for icon text */
    .IconText {
        font-size: x-large;
        font-weight: bold;
        margin-left: 8px;
    }

    /* Styling for text */
    .Text {
        font-weight: 500;
        width: 333px;
        margin-top: 65px;
    }

    /* Styling for password icon */
    .PasswordIcon {
        border-bottom: solid 1px #bdbdbd;
        position: relative;
        padding-top: 15px;
        background-color: #e8e8e8;
        height: 56px;
        margin-top: 6px;
        border-top-left-radius: 5px;
        padding-left: 3px;
    }

    /* Styling for email icon */
    .EmailIcon {
        border-bottom: solid 1px #bdbdbd;
        position: relative;
        padding-top: 15px;
        background-color: #e8e8e8;
        height: 56px;
        margin-top: 6px;
        border-top-left-radius: 5px;
        padding-left: 3px;
    }

    /* Styling for MudInputLabel */
    .mud-input-label-filled {
        margin-left: 36px !important;
    }

    /* Styling for MudInputSlot */
    .mud-input-slot {
        margin-left: 34px !important;
    }

    /* Styling for Continue button */
    .ContinueBtn {
        border-radius: 30px;
        width: 330px;
        height: 50px;
        margin-top: 54px;
    }
</style>

<!-- Main container for the page -->
<div class="container">

    <!-- Header section -->
    <div class="row" style="margin-top: 20px;">
        <div class="col ml-3 mt-1">
            <!-- Back button -->
            <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="ClickBack" Style="padding-top: 1px;"></MudIconButton>
            <!-- Page title -->
            <span class="IconText">Create New Password</span>
        </div>
    </div>

    <!-- Image section -->
    <div class="row DivCenter">
        <div class="col ml-5 mt-5">
            <!-- Image for the page -->
            <MudImage Class="img-fluid" Src="images/ForgetPassword.png" Elevation="0" Height="200" Width="250" Style="margin-top:20px" />
        </div>
    </div>

    <!-- Text section -->
    <div class="row  DivCenter  ">
        <div class="col DivCenter">
            <!-- Text prompting to create a new password -->
            <MudText Typo="Typo.subtitle1" Class="Text">Create your new password</MudText>
        </div>
    </div>

    <!-- Password input section -->
    <div class="row mt-5">
        <div class="col-12 ml-7  mr-5 email DivCenter">
            <div class="EmailIcon">
                <!-- Password icon -->
                <MudIcon Color="Color.Default" Icon="@Icons.Material.Filled.Lock" Size="Size.Medium" />
            </div>
            <!-- Password input field -->
            <MudTextField Class="mr-7" @bind-Value="PasswordTwo" Label="Password" Variant="Variant.Filled" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ShowPassword" />
        </div>
        <div class="col-12 ml-7 mr-5 mt-5 DivCenter">
            <div class="PasswordIcon">
                <!-- Password icon -->
                <MudIcon Color="Color.Default" Icon="@Icons.Material.Filled.Lock" Size="Size.Medium" />
            </div>
            <!-- Password input field -->
            <MudTextField Class="mr-7" @bind-Value="Password" Label="Password" Variant="Variant.Filled" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ShowPassword" />
        </div>
    </div>

    <!-- Remember me checkbox -->
    <div class="row ">
        <div class="col DivCenter">
            <MudCheckBox @bind-Value="@RememberMe" Size="Size.Medium" Color="Color.Primary" Label="Remember Me"></MudCheckBox>
        </div>
    </div>

    <!-- Continue button -->
    <div class="row ">
        <div class="col mt-5 DivCenter">
            <MudButton Class="ContinueBtn" Variant="Variant.Filled" Color="Color.Primary" Clicked="Continue">Continue</MudButton>
        </div>
    </div>

</div>

<!-- Code section -->
@code {

    <!-- Injecting NavigationManager -->
    @inject NavigationManager Navigation;

    <!-- Properties for password, password confirmation, and remember me -->
    public string? Password { get; set; }
    public string? PasswordTwo { get; set; }
    public bool RememberMe { get; set; } = false;

    <!-- Variables for password input type and visibility -->
    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    <!-- Method for back button click -->
    private void ClickBack()
    {
        Navigation.NavigateTo("ForgotPasswordTwo");
    }

    <!-- Method for continue button click -->
    private void Continue()
    {
        Navigation.NavigateTo("SignIn");
    }

    <!-- Method to toggle password visibility -->
    void ShowPassword()
    {
        @if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }
}
