<!-- This page is for verifying the code sent during the password reset process -->
@page "/ForgotPasswordTwo"

<!-- Importing necessary components and layouts -->
@using HS.Shared.Components.Layout
@layout EmptyLayout

<!-- Styling for the page -->
<style>
    /* Styling for container */
    .container {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    /* Styling for centering divs */
    .DivCenter {
        display: flex;
        justify-content: center;
    }

    /* Styling for icon text */
    .IconText {
        font-size: xx-large;
        font-weight: bold;
        margin-left: 8px;
    }

    /* Styling for text */
    .Text {
        font-weight: 500;
        width: 333px;
        margin-top: 25px;
    }

    /* Styling for continue button */
    .ContinueBtn {
        border-radius: 30px;
        width: 330px;
        height: 50px;
        margin-top: 50px;
    }

    /* Styling for hiding numeric spin */
    .mud-input-numeric-spin {
        display: none !important;
    }
</style>

<!-- Main container for the page -->
<div class="container">

    <!-- Header section -->
    <div class="row" style="margin-top: 20px;">
        <div class="col ml-3 mt-1">
            <!-- Back button -->
            <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="ClickBack" Style="padding-top: 1px;"></MudIconButton>
            <!-- Page title -->
            <span class="IconText">Forgot Password</span>
        </div>
    </div>
    <!-- Code confirmation section -->
    <div class="row  DivCenter">
        <div class="col DivCenter">
            <!-- Text informing user about the sent code -->
            <MudText Typo="Typo.subtitle2" Style="margin-top:60px">Code has been sent to +111**********99</MudText>
        </div>
    </div>
    <!-- Code input section -->
    <div class="row">
        <div class="col DivCenter">
            <!-- Grid for code input -->
            <MudGrid Class="justify-space-between" Style="max-width: 300px;margin-top:45px;">
                <MudItem xs="3">
                    <MudTextField InputType="InputType.Number" Mask="@(new PatternMask("0"))"
                                  @bind-Value="cvc1" Variant="@Variant.Outlined" Min="0" Max="9" />
                </MudItem>
                <MudItem xs="3">
                    <MudTextField InputType="InputType.Number" Mask="@(new PatternMask("0"))"
                                  @bind-Value="cvc2" Variant="@Variant.Outlined" Min="0" Max="9" />
                </MudItem>
                <MudItem xs="3">
                    <MudTextField InputType="InputType.Number" Mask="@(new PatternMask("0"))"
                                  @bind-Value="cvc3" Variant="@Variant.Outlined" Min="0" Max="9" />
                </MudItem>
                <MudItem xs="3">
                    <MudTextField InputType="InputType.Number" Mask="@(new PatternMask("0"))"
                                  @bind-Value="cvc4" Variant="@Variant.Outlined" Min="0" Max="9" />
                </MudItem>
            </MudGrid>
        </div>

    </div>
    <!-- Resend code link section -->
    <div class="row  DivCenter  ">
        <div class="col DivCenter">
            <!-- Text for resending code link -->
            <MudText Typo="Typo.subtitle1" Style="margin-top:60px">Resend code in <MudLink>55</MudLink>s</MudText>
        </div>
    </div>
    <!-- Verify button section -->
    <div class="row">
        <div class="col mt-5 DivCenter">
            <!-- Verify button -->
            <MudButton Class="ContinueBtn" @onclick="VerifyClick" Variant="Variant.Filled" Color="Color.Primary">Verify</MudButton>
        </div>
    </div>

</div>

<!-- Code section -->
@code {
    // Variables to store code input
    private string cvc1;
    private string cvc2;
    private string cvc3;
    private string cvc4;

    // Injecting NavigationManager for navigation functionality
    @inject NavigationManager Navigation;

    // Method for back button click
    private void ClickBack()
    {
        Navigation.NavigateTo("ForgetPasswordOne");
    }



    // Method to verify the code and navigate to the next step
    private void VerifyClick()
    {
        Navigation.NavigateTo("CreateNewPassword");
    }

}
