<!-- Sign In page -->
@page "/SignIn"

<!-- Importing necessary components and layouts -->
@using HS.Shared.Components.Layout
@layout EmptyLayout

<!-- Styling for the page -->
<style>
    /* Styling for container */
    .container {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    /* Styling for text */
    .text {
        font-weight: bolder;
        margin-top: 15px;
    }

    /* Styling for email input */
    .email {
        margin-top: 20px;
    }

    /* Styling for centering divs */
    .DivCenter {
        display: flex;
        justify-content: center;
    }

    /* Styling for sign up button */
    .SignUpBtn {
        border-radius: 30px;
        width: 330px;
        height: 50px;
    }

    /* Styling for horizontal divider */
    .hr-sect {
        display: flex;
        flex-basis: 80%;
        align-items: center;
        color: black;
        margin: 8px 0px;
        margin-top: -2px;
    }

        .hr-sect::before,
        .hr-sect::after {
            content: "";
            flex-grow: 1;
            background: rgba(0, 0, 0, 0.35);
            height: 1px;
            font-size: 0px;
            line-height: 0px;
            margin: 0px 8px;
        }
    /* Styling for buttons with icons */
    .BtnIcon {
        border-radius: 8px;
        border-color: gray;
    }

    /* Styling for password input field */
    .PasswordIcon {
        border-bottom: solid 1px #bdbdbd;
        position: relative;
        padding-top: 15px;
        background-color: #e8e8e8;
        height: 56px;
        margin-top: 6px;
        border-top-left-radius: 5px;
        padding-left: 3px;
    }

    /* Styling for email input field */
    .EmailIcon {
        border-bottom: solid 1px #bdbdbd;
        position: relative;
        padding-top: 15px;
        background-color: #e8e8e8;
        height: 56px;
        margin-top: 6px;
        border-top-left-radius: 5px;
        padding-left: 3px;
    }

    /* Styling for adjusting label position */
    .mud-input-label-filled {
        margin-left: 36px !important;
    }

    /* Styling for adjusting input slot position */
    .mud-input-slot {
        margin-left: 34px !important;
    }
</style>

<!-- Main container for the page -->
<div class="container">
    <!-- Header section -->
    <div class="row">
        <div class="col ml-3 mt-1">
            <!-- Back button -->
            <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" OnClick="ClickBack"></MudIconButton>
        </div>
    </div>
    <!-- Title section -->
    <div class="row">
        <div class="col  ml-5 text">
            <!-- Page title -->
            <MudText Typo="Typo.h3" Class="text">Login to your Account</MudText>
        </div>
    </div>

    <!-- Email and password input section -->
    <div class="row mt-5">
        <!-- Email input -->
        <div class="col-12 ml-7  mr-5 email DivCenter">
            <div class="EmailIcon">
                <!-- Email icon -->
                <MudIcon Color="Color.Default" Icon="@Icons.Material.Filled.Email" Size="Size.Medium" />
            </div>
            <!-- Email input field -->
            <MudTextField Class="mr-7" @bind-Value="Email" Label="Email" Variant="Variant.Filled" Adornment="Adornment.None" />
        </div>
        <!-- Password input -->
        <div class="col-12 ml-7 mr-5 mt-5 DivCenter">
            <div class="PasswordIcon">
                <!-- Password icon -->
                <MudIcon Color="Color.Default" Icon="@Icons.Material.Filled.Lock" Size="Size.Medium" />
            </div>
            <!-- Password input field -->
            <MudTextField Class="mr-7" @bind-Value="Password" Label="Password" Variant="Variant.Filled" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="ShowPassword" />
        </div>
    </div>

    <!-- Remember me checkbox section -->
    <div class="row">
        <div class="col DivCenter">
            <!-- Remember me checkbox -->
            <MudCheckBox @bind-Value="@RememberMe" Size="Size.Medium" Color="Color.Primary" Label="Remember Me"></MudCheckBox>
        </div>
    </div>

    <!-- Sign in button section -->
    <div class="row">
        <div class="col mt-5 DivCenter">
            <!-- Sign in button -->
            <MudButton Class="SignUpBtn" Variant="Variant.Filled" OnClick="Login" Color="Color.Primary">Sign In</MudButton>
        </div>
    </div>

    <!-- Forgot password link section -->
    <div class="row">
        <div class="col mt-5 DivCenter">
            <!-- Forgot password link -->
            <MudLink Href="/ForgetPasswordOne" Style="font-weight:bolder;">Forgot the password?</MudLink>
        </div>
    </div>

    <!-- Horizontal divider section -->
    <div class="row mt-5">
        <div class="col  DivCenter">
            <!-- Horizontal divider -->
            <div class="hr-sect"> <p style="font-weight:200;">or continue with</p></div>
        </div>
    </div>

    <!-- Social login buttons section -->
    <div class="row" style="margin-top:10px;">
        <div class="col DivCenter">
            <!-- Facebook login button -->
            <MudButton Class="BtnIcon" Variant="Variant.Outlined" Style="@($"color:{Colors.Blue.Default};")" Size="Size.Large"><MudIcon Icon="@Icons.Custom.Brands.Facebook" Size="Size.Large" /></MudButton>
            <!-- Google login button -->
            <MudButton Class="BtnIcon ml-5" Variant="Variant.Outlined" Style="@($"color:{Colors.Shades.Black};")" Size="Size.Large"><MudIcon Icon="@GoogleIconSvg" Size="Size.Large" /></MudButton>
            <!-- Apple login button -->
            <MudButton Class="BtnIcon ml-5" Variant="Variant.Outlined" Style="@($"color:{Colors.Shades.Black};")" Size="Size.Large"><MudIcon Icon="@Icons.Custom.Brands.Apple" Size="Size.Large" /></MudButton>
        </div>
    </div>

    <!-- Sign up link section -->
    <div class="row" style="margin-top:20px;">
        <div class="col DivCenter">
            <!-- Sign up link -->
            <MudLink Href="#" Disabled="true">Don't have an account?  </MudLink> &nbsp;&nbsp; <MudLink Href="/SignUp" Style="font-weight:bolder;">  Sign Up</MudLink>
        </div>
    </div>
</div>

<!-- Code section -->
@code {
    // Injecting NavigationManager for navigation functionality
    @inject NavigationManager Navigation;

    // Method for back button click
    private void ClickBack()
    {
        Navigation.NavigateTo("SignUp");
    }

    // Properties for email, password, and remember me checkbox
    public string? Email { get; set; }
    public string? Password { get; set; }
    public bool RememberMe { get; set; } = false;

    // Variables for password visibility toggle
    bool isShow;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    // Google icon SVG content
    const string GoogleIconSvg = @"<svg viewBox=""0 0 48 48"" >
  <title>Google Logo</title>
  <clipPath id=""g"" >
    <path d=""M44.5 20H24v8.5h11.8C34.7 33.9 30.1 37 24 37c-7.2 0-13-5.8-13-13s5.8-13 13-13c3.1 0 5.9 1.1 8.1 2.9l6.4-6.4C34.6 4.1 29.6 2 24 2 11.8 2 2 11.8 2 24s9.8 22 22 22c11 0 21-8 21-22 0-1.3-.2-2.7-.5-4z"" />
  </clipPath>
  <g class=""colors"" clip-path=""url(#g)"" >
    <path fill=""#FBBC05"" d=""M0 37V11l17 13z"" />
    <path fill=""#EA4335"" d=""M0 11l17 13 7-6.1L48 14V0H0z"" />
    <path fill=""#34A853"" d=""M0 37l30-23 7.9 1L48 0v48H0z""/>
    <path fill=""#4285F4"" d=""M48 48L17 24l-4-3 35-10z"" />
  </g>
</svg>";

    // Method to toggle password visibility
    void ShowPassword()
    {
        if (isShow)
        {
            isShow = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            isShow = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }
    }

    // Method to handle sign in button click
    private void Login()
    {
        Navigation.NavigateTo("Home");
    }
}
