@using MudBlazor
@page "/Home"
@using HS.Shared.Components.Layout
@layout EmptyLayout
<style>
  
    /* Styles for positioning the tabs toolbar */
    .mud-tabs-toolbar {
        position: fixed !important;
        bottom: -28px !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        z-index:500;
    }

    /* Styles for InboxDiv positioning */
    .InboxDiv {
        position: fixed !important;
    }
 


    /* Additional styles for MudTabs and MudTooltip */
    .mud-tabs-toolbar {
        width: 100%;
    }

    .mud-tooltip-root {
        padding-left: 10px;
        padding-right: 10px;
    }
   
    .mud-tab-slider {
        background: #00000000;
    }

    * {
        box-sizing: content-box;
    }
</style>

<MudCard>
    <MudTabs @ref="tabs" Elevation="0" Rounded="true" Position="Position.Bottom" ApplyEffectsToContainer="true" MinimumTabWidth="10px" Centered="true">
        <MudTabPanel Icon="@Icons.Material.Filled.Home" @ref="panel01" ID="@("pn_Menu")">
            <div class="Mydiv">
                <!-- Inserted ActionMenu component -->
                <HS.Shared.Components.Pages.Menu.ActionMenu></HS.Shared.Components.Pages.Menu.ActionMenu>
            </div>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.Article" @ref="panel02" ID="@("pn_MyBookings")">
            <div class=" Mydiv">
                <!-- Inserted MyBookings component -->
                <HS.Shared.Components.Pages.MyBookings.MyBookings></HS.Shared.Components.Pages.MyBookings.MyBookings>
            </div>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.CalendarMonth" @ref="panel03" ID="@("pn_Calendar")">
            <div class="Mydiv">
                <!-- Inserted MyCalendar component -->
                <HS.Shared.Components.Pages.Calendar.MyCalendar></HS.Shared.Components.Pages.Calendar.MyCalendar>
            </div>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.Sms" ID="@("pn_Inbox")">
            <div class=" Mydiv">
                <!-- Inserted Inbox component -->
                <HS.Shared.Components.Pages.Inbox.Inbox></HS.Shared.Components.Pages.Inbox.Inbox>
            </div>
        </MudTabPanel>
        <MudTabPanel Icon="@Icons.Material.Filled.Person" ID="@("pn_Profile")">
            <div class="Mydiv">
                <!-- Inserted Profile component -->
                <HS.Shared.Components.Pages.Profile.Profile></HS.Shared.Components.Pages.Profile.Profile>
            </div>
        </MudTabPanel>
      
    </MudTabs>
</MudCard>

@code {
    // Inject NavigationManager for navigation functionality
    @inject NavigationManager Navigation;
    // Reference variables for MudTabs and MudTabPanel components
    MudTabs tabs;
    MudTabPanel panel01;
    MudTabPanel panel02;
    MudTabPanel panel03;
   
    // Method to handle button click for navigation
    private void BtnNextClick()
    {
        Navigation.NavigateTo("SignUp");
    }
}
