<!-- This page is the FilterResults page -->
@page "/FilterResults"

<!-- Importing the necessary components -->
@using HS.Shared.Components.Layout
@layout EmptyLayout

<!-- Styling for the page -->
<style>
    /* Styling for the container */
    .container {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    /* Centering the DivCenter */
    .DivCenter {
        display: flex;
        justify-content: center;
    }

    /* Styling for IconText */
    .IconText {
        font-size: xx-large;
        font-weight: bold;
        margin-left: 8px;
    }

    /* Styling for scroll */
    .scroll {
        margin: 4px, 4px;
        padding: 4px;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    /* Styling for ServiceCard */
    .ServiceCard {
        height: 186px;
        margin-right: 5px;
        border-radius: 38px;
        margin-top: 20px;
    }

    /* Styling for headerContent */
    .headerContent {
        display: flex;
    }

    /* Styling for serviceName */
    .serviceName {
        margin-top: 7px;
    }

    /* Styling for price */
    .price {
        margin-top: 3px;
    }

    /* Styling for reviews */
    .reviews {
        margin-top: 7px;
    }

    /* Media query for smaller screens */
    @@media (max-width: 410px) {
        .ServiceCard {
            width: 355px;
            height: 161px;
        }

        .serviceName {
            margin-top: 2px;
            font-size: larger;
        }

        .reviews {
            font-size: 14px;
            margin-top: 8px;
        }
    }

    @@media only screen and (max-device-width: 480px) {

        .headerText {
            font-size: 2vh;
        }

        .contentText {
            font-size: 3vh;
        }

        .headerIcon {
            padding-left: 2px;
        }

        .ServiceImages {
            height: 50px;
            width: 50px;
        }

        .ServicesText {
            font-size: 2vh;
        }

        .ServiceCard {
            width: 275px;
            height: 161px;
            margin-right: 0px;
            margin-left: 15px;
        }

        .serviceName {
            margin-top: 7px;
            font-size: small;
        }

        .FCardImg {
            height: 80px;
            margin-top: 22px;
        }

        .reviews {
            font-size: x-small;
        }

        .FilterSticky {
           
            width: 372px;
        }
    }

    @@media only screen and (min-device-width: 480px) {

        .FCardImg {
            height: 120px;
        }
    }

    .text {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }



    /* Styling for card content */
    .cardContent {
        text-align: center;
    }

    /* Styling for chat icon */
    .chatIcon {
        height: 80px;
        margin-top: 27px;
        margin-right: 20px;
    }

    /* Styling for collapse element */
    .Collapse {
        display: flex;
        justify-content: space-between;
        width: 96%;
    }

    /* Styling for card buttons */
    .cardbtn {
        width: 220px;
        border-radius: 32px;
        margin-top: 21px;
        padding: 16px;
    }

    .Collapsebtn {
        border-radius: 32px;
        padding: 5px;
        margin-top: 10px;
        width: 155px;
    }
    /* Styling for cancel button */
    .cancelBtn {
        background-color: #F4ECFF !important;
        color: var(--mud-palette-primary);
    }

    /* Styling for sticky element */
    .FilterSticky {
        padding: 20px;
        position: fixed;
        bottom: 0px;
        width: 100%;
        border-top-left-radius: 55px;
        border-top-right-radius: 55px;
        text-align: center;
       
    }

    /* Styling for hiding cancel element */
    .HideCancel {
        display: none;
    }

    /* Scrollable container */
    .scroll {
        margin: 4px, 4px;
        padding: 4px;
    
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }

    /* ServiceCard styling */
    .ServiceCard {
        height: 156px;
        margin-right: 5px;
        border-radius: 38px;
        margin-top: 20px;
    }

   
    .stickyDivContent{
        width: 104%;
    }
</style>

<!-- HTML content -->
<div class="container">
    <!-- Row for navigation -->
    <div class="row" style="margin-top: 20px;">
        <div class="col ml-3 mt-1">
            <MudTextField @bind-Value="Search" Label="Search" Variant="Variant.Filled" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.FilterList" AdornmentColor="Color.Primary" OnAdornmentClick="FilterShowHide" />
        </div>
    </div>

    <!-- Row for services section -->
    <div class="row">
        <div class="col ml-3 ">
            <!-- MudCardActions for services heading -->
            <MudCardActions Class="text">
                <MudText Style="font-weight:bold" Class="contentText" Typo="Typo.h6">Results for <MudText Color="Color.Primary" Style="font-weight:bold" Typo="Typo.h6">"Cleaning"</MudText></MudText>
                <MudButton Variant="Variant.Text"> <MudText Color="Color.Primary" Style="font-weight:bold" Typo="Typo.h6">3627 founds</MudText></MudButton>
            </MudCardActions>
        </div>
    </div>

    <!-- Row for displaying service cards -->
    <div class="row">
        <div class="col ml-2 mt-5 mb-5 ">
            <!-- Service card 1 -->
            <MudCard Elevation="5" Class="ServiceCard">
                <MudCardHeader>
                    <CardHeaderContent>
                        <!-- Header content -->
                        <div class="headerContent">
                            <!-- Service image -->
                            <MudImage Src="images/s1.png" Elevation="0" Class="FCardImg" />
                            <div style="margin-left:26px;">
                                <!-- Service details -->
                                <MudText Typo="Typo.subtitle1">Kylie Danford</MudText>
                                <MudText Class="serviceName font-weight-bold" Typo="Typo.h6">House Cleaning</MudText>
                                <MudText Class="price font-weight-bold" Color="Color.Primary" Typo="Typo.h6">$25</MudText>
                                <MudText Class="reviews" Typo="Typo.subtitle1"><MudIcon Class="reviews" Icon="@Icons.Material.Filled.Star" Color="Color.Warning" /> <span>4.9 | 6.182 reviews</span></MudText>
                            </div>
                        </div>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <!-- Bookmark button -->
                        <MudIconButton Icon="@Icons.Material.Filled.Bookmark" Color="Color.Primary" />
                    </CardHeaderActions>
                </MudCardHeader>
            </MudCard>

            <MudCard Elevation="5" Class="ServiceCard">
                <MudCardHeader>
                    <CardHeaderContent>
                        <div class="headerContent">
                            <MudImage Src="images/s2.png" Elevation="0" Class="FCardImg" />
                            <div style="margin-left:26px;">
                                <MudText Typo="Typo.subtitle1">Kylie Danford</MudText>
                                <MudText Class="serviceName font-weight-bold" Typo="Typo.h6">House Cleaning</MudText>
                                <MudText Class="price font-weight-bold" Color="Color.Primary" Typo="Typo.h6">$25</MudText>
                                <MudText Class="reviews" Typo="Typo.subtitle1"><MudIcon Class="reviews" Icon="@Icons.Material.Filled.Star" Color="Color.Warning" />     <span>4.9 | 6.182 reviews</span></MudText>
                            </div>

                        </div>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Bookmark" Color="Color.Primary" />
                    </CardHeaderActions>
                </MudCardHeader>
            </MudCard>
            <MudCard Elevation="5" Class="ServiceCard">
                <MudCardHeader>
                    <CardHeaderContent>
                        <div class="headerContent">
                            <MudImage Src="images/s3.png" Elevation="0" Class="FCardImg" />
                            <div style="margin-left:26px;">
                                <MudText Typo="Typo.subtitle1">Kylie Danford</MudText>
                                <MudText Class="serviceName font-weight-bold" Typo="Typo.h6">House Cleaning</MudText>
                                <MudText Class="price font-weight-bold" Color="Color.Primary" Typo="Typo.h6">$25</MudText>
                                <MudText Class="reviews" Typo="Typo.subtitle1"><MudIcon Class="reviews" Icon="@Icons.Material.Filled.Star" Color="Color.Warning" />     <span>4.9 | 6.182 reviews</span></MudText>
                            </div>
                        </div>
                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Bookmark" Color="Color.Primary" />
                    </CardHeaderActions>
                </MudCardHeader>
            </MudCard>
            <MudCard Elevation="5" Class="ServiceCard">
                <MudCardHeader>
                    <CardHeaderContent>
                        <div class="headerContent">
                            <MudImage Src="images/s4.png" Elevation="0" Class="FCardImg" />
                            <div style="margin-left:26px;">
                                <MudText Typo="Typo.subtitle1">Kylie Danford</MudText>
                                <MudText Class="serviceName font-weight-bold" Typo="Typo.h6">House Cleaning</MudText>
                                <MudText Class="price font-weight-bold" Color="Color.Primary" Typo="Typo.h6">$25</MudText>
                                <MudText Class="reviews" Typo="Typo.subtitle1"><MudIcon Class="reviews" Icon="@Icons.Material.Filled.Star" Color="Color.Warning" />     <span>4.9 | 6.182 reviews</span></MudText>
                            </div>
                        </div>

                    </CardHeaderContent>
                    <CardHeaderActions>
                        <MudIconButton Icon="@Icons.Material.Filled.Bookmark" Color="Color.Primary" />
                    </CardHeaderActions>
                </MudCardHeader>
            </MudCard>
        </div>
    </div>
</div>

<div class="@HideCancel">
    <MudCard Class="FilterSticky DivCenter ">
        <div class="stickyDivContent">
            <!-- Cancellation header -->
            <MudText Typo="Typo.h6" Style="font-weight: bold;">Filter</MudText>
            <br />
            <MudDivider DividerType="DividerType.Middle"> </MudDivider>
            <!-- Cancellation confirmation text -->
            <!-- Row for MudChipSet filter -->

            <MudText Style="float: left;font-weight: bold;">Category</MudText>
            <br />
            <!-- Scrollable container for MudChipSet -->
            <div class="scroll">
                <MudChipSet Filter="false" Mandatory="true" SelectedChipChanged="OnSelectChip">
                    <!-- MudChips for filtering services -->
                    <MudChip Text="All" Variant="Variant.Text" Color="Color.Primary">All</MudChip>
                    <MudChip Text="Cleaning" Variant="Variant.Text" Color="Color.Primary">Cleaning</MudChip>
                    <MudChip Text="repairing" Variant="Variant.Text" Color="Color.Primary">Repairing</MudChip>
                    <MudChip Text="painting" Variant="Variant.Text" Color="Color.Primary">Painting</MudChip>
                    <MudChip Text="laundry" Variant="Variant.Text" Color="Color.Primary">Laundry</MudChip>
                    <MudChip Text="appliances" Variant="Variant.Text" Color="Color.Primary">Appliances</MudChip>
                    <MudChip Text="plumbing" Variant="Variant.Text" Color="Color.Primary">Plumbing</MudChip>
                    <MudChip Text="shifting" Variant="Variant.Text" Color="Color.Primary">Shifting</MudChip>
                </MudChipSet>
            </div>

            <MudText Style="float:left;font-weight: bold;">Price</MudText>
            <br />
            <MudProgressLinear  Color="Color.Primary"   Class="my-7" Size="Size.Medium" Value="25" >
                <MudText Typo="Typo.subtitle1" Color="Color.Primary"><b>$16</b></MudText>
            </MudProgressLinear>
       
            <MudText Style="float:left;font-weight: bold;">Rating</MudText>
            <br />
            <div class="col">
                <div class="scroll">
                    <MudChipSet Filter="false" Mandatory="true" SelectedChipChanged="OnSelectChip">
                        <MudChip Text="All" Variant="Variant.Text" Color="Color.Primary"><MudIcon Icon="@Icons.Material.Filled.Star" Color="Color.Primary"></MudIcon>All</MudChip>
                        <MudChip Text="5" Variant="Variant.Text" Color="Color.Primary"><MudIcon Icon="@Icons.Material.Filled.Star" Color="Color.Primary"></MudIcon>&nbsp;5</MudChip>
                        <MudChip Text="4" Variant="Variant.Text" Color="Color.Primary"><MudIcon Icon="@Icons.Material.Filled.Star" Color="Color.Primary"></MudIcon>&nbsp;4</MudChip>
                        <MudChip Text="3" Variant="Variant.Text" Color="Color.Primary"><MudIcon Icon="@Icons.Material.Filled.Star" Color="Color.Primary"></MudIcon>&nbsp;3</MudChip>
                        <MudChip Text="2" Variant="Variant.Text" Color="Color.Primary"><MudIcon Icon="@Icons.Material.Filled.Star" Color="Color.Primary"></MudIcon>&nbsp;2</MudChip>
                        <MudChip Text="1" Variant="Variant.Text" Color="Color.Primary"><MudIcon Icon="@Icons.Material.Filled.Star" Color="Color.Primary"></MudIcon>&nbsp;1</MudChip>
                    </MudChipSet>
                </div>
            </div>
            <MudDivider Class="mt-5"> </MudDivider>


            <!-- Cancel and confirm buttons -->
            <div class="Collapse">
                <MudButton Class=" cancelBtn Collapsebtn" Variant="Variant.Filled">Reset</MudButton>
                <MudButton Class=" Collapsebtn" Variant="Variant.Filled" Color="Color.Primary">Filter</MudButton>
            </div>
        </div>
    </MudCard>
</div>

<!-- C# code -->
@code {
    @inject NavigationManager Navigation;
    public string Search { get; set; } = "Cleaning";


    // HideCancel variable for controlling visibility of cancel element
    string HideCancel = "HideCancel";

    // Function to show cancel element
    private void FilterShowHide()
    {
        if (String.IsNullOrEmpty(HideCancel))
        {
            HideCancel = "HideCancel";
        }
        else
        {
           
            HideCancel = "";
        }

    }



    // Method to navigate back
    private void ClickBack()
    {
        Navigation.NavigateTo("Home");
    }

    // Method to handle chip selection
    private void OnSelectChip(MudChip mud)
    {

    }
}
