@page "/ContactUs"
@using HS.Shared.Components.Layout
@layout EmptyLayout

<style>
    /* Styling for container */
    .container {
        overflow-y: hidden;
        overflow-x: hidden;
    }

    /* Styling for centering elements */
    .DivCenter {
        display: flex;
        justify-content: center;
    }

    /* Styling for icon and text */
    .IconText {
        font-size: xx-large;
        font-weight: bold;
        margin-left: 8px;
    }

    /* Styling for right icon */
    .rightIcon .mud-icon-root {
        border: solid;
        border-radius: 12px;
    }

    /* Styling for text */
    .Text {
        font-weight: bold;
    }

    /* Styling for small text */
    .smalltext {
        font-size: smaller;
    }

    /* Styling for sticky footer */
    .Sticky {
        padding: 20px;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    /* Styling for continue button */
    .ContinueBtn {
        border-radius: 30px;
        width: 330px;
        height: 50px;
    }

    /* Styling for card content */
    .cardContent {
        display: flex;
        justify-content: space-between;
    }

    /* Styling for input control */
    .mud-input-control.mud-input-control-boolean-input {
        margin-top: 6px;
    }

    /* Styling for card */
    .mudCard {
        border-radius: 10px;
        margin-top: 25px;
        width: 326px;
    }
</style>

<!-- Main container -->
<div class="container">
    <!-- Customer service card -->
    <div class="row">
        <div class="col DivCenter">
            <MudCard Class="mudCard">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <!-- Customer service icon -->
                        <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.HeadsetMic" Color="Color.Primary">  </MudIcon>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <div class="cardContent">
                            <!-- Customer service text -->
                            <div>
                                <MudText Typo="Typo.subtitle1" Style="font-weight:bold;">Customer Service</MudText>
                            </div>
                        </div>
                    </CardHeaderContent>
                </MudCardHeader>
            </MudCard>
        </div>
    </div>

    <!-- WhatsApp card -->
    <div class="row">
        <div class="col DivCenter">
            <MudCard Class="mudCard">
                <MudCardHeader>
                    <CardHeaderAvatar>
                        <!-- WhatsApp icon -->
                        <MudIcon Size="Size.Large" Icon="@Icons.Custom.Brands.WhatsApp" Color="Color.Primary">  </MudIcon>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <div class="cardContent">
                            <!-- WhatsApp text -->
                            <div>
                                <MudText Typo="Typo.subtitle1" Style="font-weight:bold;">WhatsAap</MudText>
                            </div>
                        </div>
                    </CardHeaderContent>
                </MudCardHeader>
            </MudCard>
        </div>
    </div>
    <div class="row">
        <div class="col DivCenter">
            <MudCard Class="mudCard">
                <MudCardHeader>
                    <CardHeaderAvatar>

                        <MudIcon Size="Size.Large" Icon="@Icons.Custom.Brands.Chrome" Color="Color.Primary">  </MudIcon>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <div class="cardContent">
                            <div>
                                <MudText Typo="Typo.subtitle1" Style="font-weight:bold;">Website</MudText>
                            </div>
                        </div>
                    </CardHeaderContent>
                </MudCardHeader>
            </MudCard>
        </div>
    </div>
    <div class="row">
        <div class="col DivCenter">
            <MudCard Class="mudCard">
                <MudCardHeader>
                    <CardHeaderAvatar>

                        <MudIcon Size="Size.Large" Icon="@Icons.Custom.Brands.Facebook" Color="Color.Primary">  </MudIcon>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <div class="cardContent">
                            <div>
                                <MudText Typo="Typo.subtitle1" Style="font-weight:bold;">Facebook</MudText>
                            </div>
                        </div>
                    </CardHeaderContent>
                </MudCardHeader>
            </MudCard>
    </div>
    </div>

    <div class="row">
        <div class="col DivCenter">
            <MudCard Class="mudCard">
                <MudCardHeader>
                    <CardHeaderAvatar>

                        <MudIcon Size="Size.Large" Icon="@Icons.Custom.Brands.Twitter" Color="Color.Primary">  </MudIcon>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <div class="cardContent">
                            <div>
                                <MudText Typo="Typo.subtitle1" Style="font-weight:bold;">Twitter</MudText>
                            </div>
                        </div>
                    </CardHeaderContent>
                </MudCardHeader>
            </MudCard>
        </div>
    </div>
    <div class="row">
        <div class="col DivCenter">
            <MudCard Class="mudCard">
                <MudCardHeader>
                    <CardHeaderAvatar>

                        <MudIcon Size="Size.Large" Icon="@Icons.Custom.Brands.Instagram" Color="Color.Primary">  </MudIcon>
                    </CardHeaderAvatar>
                    <CardHeaderContent>
                        <div class="cardContent">
                            <div>
                                <MudText Typo="Typo.subtitle1" Style="font-weight:bold;">Instagram</MudText>
                            </div>
                        </div>
                    </CardHeaderContent>
                </MudCardHeader>
            </MudCard>
        </div>
    </div>
    <br />
</div>


   
@code {
    // Inject NavigationManager for navigation
    @inject NavigationManager Navigation;

    // Function to handle back button click
    private void ClickBack()
    {
        Navigation.NavigateTo("Home/4");
    }
}
